.logo {
    width: 96px;
    height: 31px;
    display: block;
    background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/yoga-week8/DOYOGA-logo.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}