@charset "UTF-8";
/* 40 */
/* 36 */
/* 32 */
/* 28 */
/* 24 */
/* 20 */
/* 14 */
body {
  font-family: 'Noto Sans TC';
}

.fs-33 {
  font-size: 33px;
}

.fs-40 {
  font-size: 40px;
}

.navbar-collapse {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

.img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.img-box1 {
  width: 3rem;
  height: 3rem;
}

@media (min-width: 768px) {
  .img-box1 {
    width: 5.875rem;
    height: 5.875rem;
  }
}

.img-box2 {
  width: 3rem;
  height: 3rem;
}

@media (min-width: 768px) {
  .img-box2 {
    width: 4.25rem;
    height: 4.25rem;
  }
}

.img-box3 {
  width: 3.75rem;
  height: 3.75rem;
}

@media (min-width: 768px) {
  .img-box3 {
    width: 4.25rem;
    height: 4.25rem;
  }
}

.radius-1 {
  border-radius: 1rem;
  height: 39.25rem;
}

.radius-2 {
  border-radius: 1rem;
}

.card {
  border-radius: 1rem;
}

.text-box-1 {
  width: 450px;
}

.pe-half {
  padding-right: 7.5px;
}

@media (min-width: 768px) {
  .pe-half {
    padding-right: 15px;
  }
}

.ps-half {
  padding-left: 7.5px;
}

@media (min-width: 768px) {
  .ps-half {
    padding-left: 15px;
  }
}

.z-2 {
  z-index: 2;
}

.w-ss {
  min-width: 330px;
}

@media (min-width: 992px) {
  .w-ss {
    min-width: 404px;
  }
}

.w-sm {
  width: 345px !important;
}

@media (min-width: 768px) {
  .w-sm {
    width: 33.33333% !important;
  }
}

.w-md {
  width: 445px !important;
}

.w-11 {
  max-width: 410px;
}

@media (max-width: 991.98px) {
  .w-11 {
    max-width: 330px;
  }
}

.w-xs {
  width: 118px;
}

.w-xxs {
  width: 65px;
}

.w-modal {
  max-width: 500px;
}

.w-tabel-bg {
  width: 1016px;
}

.w-tabel {
  width: 920px;
}

.w-swiper {
  width: 300px;
}

.h-sm {
  height: 418px;
}

.h-class {
  height: 196px;
}

.arrow {
  font-size: 33px;
}

.h-0 {
  height: auto;
}

.opacity {
  opacity: 0.5;
}

.me-30 {
  margin-right: 30px;
}

.mb-30 {
  margin-bottom: 30px;
}

.page-link {
  position: relative;
  display: block;
  color: #907A7B;
  background-color: #F5F0E7;
  border: 0px;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  -o-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.page-link:hover {
  z-index: 2;
  color: #FFFFFF !important;
  background-color: #c0a4a5;
  border-color: #c0a4a5;
}

.page-item.active .page-link {
  z-index: 3;
  color: #FFFFFF !important;
  background-color: #907A7B;
  border-color: #c0a4a5;
}

.page-item:first-child .page-link {
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.page-item:last-child .page-link {
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.h6-w {
  width: 168px;
}

.card-header {
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
}

.card-header:first-child {
  border-radius: calc(1rem - 1px) calc(1rem - 1px) 0 0;
}

.card-image {
  width: 96px;
  height: 96px;
  -o-object-fit: cover;
     object-fit: cover;
}

.card-image-modal {
  width: 165px;
  height: 165px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (min-width: 768px) {
  .card-image-modal {
    width: 264px;
    height: 418px;
  }
}

@media (min-width: 992px) {
  .card-image-modal {
    width: 418px;
    height: 418px;
  }
}

.start-18 {
  left: 18%;
}

@media (min-width: 768px) {
  .ml-off {
    margin-left: -60px;
  }
}

@media (min-width: 992px) {
  .ml-off {
    margin-left: -95px;
  }
  .ml-off-2 {
    margin-left: -95px;
  }
  .mr-off {
    margin-right: 95px;
  }
}

.text-hide {
  overflow: hidden;
  text-indent: 101%;
  white-space: nowrap;
}

.nav-scroller {
  height: 2.75rem;
  overflow: hidden;
  border-bottom: 1px solid #C0A4A5;
}

.nav-scroller .nav {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding-bottom: 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow-x: auto;
  white-space: nowrap;
}

.nav-link {
  color: #C0A4A5;
  position: relative;
  border: 1px solid #C0A4A5;
  border-radius: 15px;
}

.nav-link:hover {
  opacity: 0.7;
}

.nav-link:hover::before {
  width: 100%;
}

.input-group {
  max-width: 350px;
}

.swiper {
  width: 100%;
  height: auto;
}

.swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-scroller {
  height: 250px;
  /* 隱藏下方捲軸 */
  overflow-y: hidden;
  border-bottom: 0px;
}

.nav-scroller .nav {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding-bottom: 1rem;
  /* 隱藏下方捲軸 */
  overflow-x: auto;
  white-space: nowrap;
}

.nav-scroller-2 {
  height: 468px;
  /* 隱藏下方捲軸 */
  overflow-y: hidden;
  border-bottom: 0px;
}

.nav-scroller-2 .nav {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding-bottom: 10px;
  /* 隱藏下方捲軸 */
  overflow-x: auto;
}

.modal-dialog {
  max-width: 500px;
  margin: 1.75rem auto;
}

@media (min-width: 768px) {
  .modal-dialog {
    max-width: 690px;
  }
}

@media (min-width: 992px) {
  .modal-dialog {
    max-width: 920px;
  }
}

.nav-scroller-3 {
  height: 264px;
  /* 隱藏下方捲軸 */
  overflow-y: hidden;
  border-bottom: 0px;
}

.nav-scroller-3 .nav {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding-bottom: 25px;
  /* 隱藏下方捲軸 */
  overflow-x: auto;
}

.map-box {
  height: 195px;
}

@media (min-width: 768px) {
  .map-box {
    height: 323px;
  }
}

@media (min-width: 992px) {
  .map-box {
    height: 360px;
  }
}

.logo {
  width: 96px;
  height: 31px;
  display: block;
  background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/yoga-week8/DOYOGA-logo.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.logo2 {
  width: 96px;
  height: 31px;
  display: block;
  background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/yoga-week8/DOYOGA.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.banner {
  height: 582px;
  background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/yoga-week8/photo-1612157777902-5382bc6e864b.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 95%;
}

.card__1 {
  background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/yoga-week8/photo-1593810450967-f9c42742e326.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 95%;
  height: 420px;
  border-radius: 16px;
}

@media (min-width: 768px) {
  .card__1 {
    height: 252px;
  }
}

@media (min-width: 992px) {
  .card__1 {
    height: 420px;
  }
}

.card__2 {
  background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/yoga-week8/photo-1593810451137-5dc55105dace.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 95%;
  height: 420px;
  border-radius: 16px;
}

@media (min-width: 768px) {
  .card__2 {
    height: 252px;
  }
}

@media (min-width: 992px) {
  .card__2 {
    height: 420px;
  }
}

.card__3 {
  background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/yoga-week8/photo-1599901860904-17e6ed7083a0.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 95%;
  height: 420px;
  border-radius: 16px;
}

@media (min-width: 768px) {
  .card__3 {
    height: 252px;
  }
}

@media (min-width: 992px) {
  .card__3 {
    height: 420px;
  }
}

.card__4 {
  background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/yoga-week8/carl-barcelo-nqUHQkuVj3c-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 95%;
  height: 210px;
  border-radius: 16px;
}

@media (min-width: 768px) {
  .card__4 {
    height: 266px;
  }
}

@media (min-width: 992px) {
  .card__4 {
    height: 444px;
  }
}

.card__4_2 {
  background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/yoga-week8/carl-barcelo-nqUHQkuVj3c-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 95%;
  height: 196px;
  border-radius: 16px;
}

@media (min-width: 768px) {
  .card__4_2 {
    height: 150px;
  }
}

@media (min-width: 992px) {
  .card__4_2 {
    height: 196px;
  }
}

.card__4_3 {
  background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/yoga-week8/carl-barcelo-nqUHQkuVj3c-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 95%;
  height: 196px;
  width: 300px;
  border-radius: 16px;
}

@media (min-width: 768px) {
  .card__4_3 {
    height: 161px;
  }
}

@media (min-width: 992px) {
  .card__4_3 {
    height: 196px;
  }
}

.card__5 {
  background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/yoga-week8/white%20round%20table%20near%20brown%20wooden%20chair.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 95%;
  height: 210px;
  border-radius: 16px;
}

@media (min-width: 768px) {
  .card__5 {
    height: 117px;
  }
}

@media (min-width: 992px) {
  .card__5 {
    height: 207px;
  }
}

.card__6 {
  background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/yoga-week8/woman%20in%20black%20sports%20bra%20and%20blue%20denim%20jeans%20doing%20yoga.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 95%;
  height: 210px;
  border-radius: 16px;
}

@media (min-width: 768px) {
  .card__6 {
    height: 117px;
  }
}

@media (min-width: 992px) {
  .card__6 {
    height: 207px;
  }
}

.card__7 {
  background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/yoga-week8/woman%20doing%20yoga%20beside%20wall.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 95%;
  height: 165px;
  border-radius: 16px;
}

@media (min-width: 768px) {
  .card__7 {
    height: 150px;
  }
}

@media (min-width: 992px) {
  .card__7 {
    width: 445px;
    height: 445px;
  }
}

.card__7_2 {
  background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/yoga-week8/woman%20doing%20yoga%20beside%20wall.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 95%;
  height: 196px;
  border-radius: 16px;
}

@media (min-width: 768px) {
  .card__7_2 {
    height: 150px;
  }
}

@media (min-width: 992px) {
  .card__7_2 {
    height: 196px;
  }
}

.card__7_3 {
  background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/yoga-week8/woman%20doing%20yoga%20beside%20wall.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 95%;
  height: 196px;
  width: 300px;
  border-radius: 16px;
}

@media (min-width: 768px) {
  .card__7_3 {
    height: 161px;
  }
}

@media (min-width: 992px) {
  .card__7_3 {
    height: 196px;
  }
}

.card__8 {
  background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/yoga-week8/rawan-yasser-zQ1ypq-WHzQ-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 95%;
  height: 165px;
  border-radius: 16px;
}

@media (min-width: 768px) {
  .card__8 {
    height: 150px;
  }
}

@media (min-width: 992px) {
  .card__8 {
    width: 445px;
    height: 445px;
  }
}

.card__8_2 {
  background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/yoga-week8/rawan-yasser-zQ1ypq-WHzQ-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 95%;
  height: 196px;
  border-radius: 16px;
}

@media (min-width: 768px) {
  .card__8_2 {
    height: 150px;
  }
}

@media (min-width: 992px) {
  .card__8_2 {
    height: 196px;
  }
}

.card__8_3 {
  background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/yoga-week8/rawan-yasser-zQ1ypq-WHzQ-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 95%;
  height: 196px;
  width: 300px;
  border-radius: 16px;
}

@media (min-width: 768px) {
  .card__8_3 {
    height: 161px;
  }
}

@media (min-width: 992px) {
  .card__8_3 {
    height: 196px;
  }
}

.card__9 {
  background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/yoga-week8/woman%20in%20black%20sports%20bra%20and%20black%20leggings%20doing%20yoga.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 95%;
  height: 165px;
  border-radius: 16px;
}

@media (min-width: 768px) {
  .card__9 {
    height: 150px;
  }
}

@media (min-width: 992px) {
  .card__9 {
    width: 445px;
    height: 445px;
  }
}

.card__9_2 {
  background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/yoga-week8/woman%20in%20black%20sports%20bra%20and%20black%20leggings%20doing%20yoga.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 95%;
  height: 196px;
  border-radius: 16px;
}

@media (min-width: 768px) {
  .card__9_2 {
    height: 150px;
  }
}

@media (min-width: 992px) {
  .card__9_2 {
    height: 196px;
  }
}

.card__9_3 {
  background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/yoga-week8/woman%20in%20black%20sports%20bra%20and%20black%20leggings%20doing%20yoga.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 95%;
  height: 196px;
  width: 300px;
  border-radius: 16px;
}

@media (min-width: 768px) {
  .card__9_3 {
    height: 161px;
  }
}

@media (min-width: 992px) {
  .card__9_3 {
    height: 196px;
  }
}

.card__10 {
  background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/yoga-week8/woman%20in%20white%20tank%20top%20and%20white%20leggings%20bending%20her%20body.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 95%;
  height: 165px;
  border-radius: 16px;
}

@media (min-width: 768px) {
  .card__10 {
    height: 150px;
  }
}

@media (min-width: 992px) {
  .card__10 {
    width: 445px;
    height: 445px;
  }
}

.card__10_2 {
  background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/yoga-week8/woman%20in%20white%20tank%20top%20and%20white%20leggings%20bending%20her%20body.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 196px;
  border-radius: 16px;
}

@media (min-width: 768px) {
  .card__10_2 {
    height: 150px;
  }
}

@media (min-width: 992px) {
  .card__10_2 {
    height: 196px;
  }
}

.card__10_3 {
  background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/yoga-week8/woman%20in%20white%20tank%20top%20and%20white%20leggings%20bending%20her%20body.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 196px;
  width: 300px;
  border-radius: 16px;
}

@media (min-width: 768px) {
  .card__10_3 {
    height: 161px;
  }
}

@media (min-width: 992px) {
  .card__10_3 {
    height: 196px;
  }
}

.card__11 {
  background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/yoga-week8/photo-1540206276207-3af25c08abc4.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 95%;
  width: 100%;
  height: 100%;
  border-radius: 16px;
}

@media (min-width: 992px) {
  .card__11 {
    width: 100%;
    height: 100%;
  }
}

.card__12_2 {
  background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/yoga-week8/two%20woman%20dong%20fitness%20exercise.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 95%;
  height: 196px;
  border-radius: 16px;
}

@media (min-width: 768px) {
  .card__12_2 {
    height: 150px;
  }
}

@media (min-width: 992px) {
  .card__12_2 {
    height: 196px;
  }
}

.card__12_3 {
  background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/yoga-week8/two%20woman%20dong%20fitness%20exercise.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 95%;
  height: 196px;
  width: 300px;
  border-radius: 16px;
}

@media (min-width: 768px) {
  .card__12_3 {
    height: 161px;
  }
}

@media (min-width: 992px) {
  .card__12_3 {
    height: 196px;
  }
}

.card__13_2 {
  background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/yoga-week8/woman%20doing%20yoga.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 196px;
  border-radius: 16px;
}

@media (min-width: 768px) {
  .card__13_2 {
    height: 150px;
  }
}

@media (min-width: 992px) {
  .card__13_2 {
    height: 196px;
  }
}

.card__13_3 {
  background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/yoga-week8/woman%20doing%20yoga.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 196px;
  width: 300px;
  border-radius: 16px;
}

@media (min-width: 768px) {
  .card__13_3 {
    height: 161px;
  }
}

@media (min-width: 992px) {
  .card__13_3 {
    height: 196px;
  }
}

.card__14_2 {
  background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/yoga-week8/woman%20in%20white%20tank%20top%20and%20white%20pants%20bending%20her%20body%20by%20the%20window.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 35%;
  height: 196px;
  border-radius: 16px;
}

@media (min-width: 768px) {
  .card__14_2 {
    height: 150px;
  }
}

@media (min-width: 992px) {
  .card__14_2 {
    height: 196px;
  }
}

.card__14_3 {
  background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/yoga-week8/woman%20in%20white%20tank%20top%20and%20white%20pants%20bending%20her%20body%20by%20the%20window.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 35%;
  height: 196px;
  width: 300px;
  border-radius: 16px;
}

@media (min-width: 768px) {
  .card__14_3 {
    height: 161px;
  }
}

@media (min-width: 992px) {
  .card__14_3 {
    height: 196px;
  }
}

.card__15 {
  background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/yoga-week8/blue%20swimming%20pool%20near%20green%20potted%20plant.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0% 85%;
  height: 350px;
  border-radius: 16px;
}

@media (min-width: 768px) {
  .card__15 {
    height: 216px;
  }
}

@media (min-width: 992px) {
  .card__15 {
    height: 350px;
  }
}

.card__16 {
  background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/yoga-week8/carl-barcelo-nqUHQkuVj3c-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 85%;
  height: 350px;
  border-radius: 16px;
}

@media (min-width: 768px) {
  .card__16 {
    height: 210px;
  }
}

@media (min-width: 992px) {
  .card__16 {
    height: 350px;
  }
}

.card__17 {
  background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/yoga-week8/white%20ceramic%20sink%20near%20white%20ceramic%20sink.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 85%;
  height: 350px;
  border-radius: 16px;
}

@media (min-width: 768px) {
  .card__17 {
    height: 210px;
  }
}

@media (min-width: 992px) {
  .card__17 {
    height: 350px;
  }
}

.card__18 {
  background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/yoga-week8/woman%20in%20black%20sports%20bra%20and%20blue%20denim%20jeans%20doing%20yoga.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0% 40%;
  height: 350px;
  border-radius: 16px;
}

@media (min-width: 768px) {
  .card__18 {
    height: 210px;
  }
}

@media (min-width: 992px) {
  .card__18 {
    height: 350px;
  }
}

.card__19 {
  background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/yoga-week8/sittin%20people%20beside%20table%20inside%20room.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 85%;
  height: 350px;
  border-radius: 16px;
}

@media (min-width: 768px) {
  .card__19 {
    height: 210px;
  }
}

@media (min-width: 992px) {
  .card__19 {
    height: 350px;
  }
}

.card-img-top {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  height: 243px;
}

@media (min-width: 768px) {
  .card-img-top {
    border-top-right-radius: 0rem;
    border-bottom-left-radius: 1rem;
    width: 345px;
    height: 238px;
  }
}

@media (min-width: 992px) {
  .card-img-top {
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 0rem;
    width: 100%;
  }
}

.card-img-top-2 {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  height: 218px;
}

@media (min-width: 768px) {
  .card-img-top-2 {
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    width: 330px;
    height: 341px;
  }
}

@media (min-width: 992px) {
  .card-img-top-2 {
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    width: 100%;
    height: 341px;
  }
}

/*# sourceMappingURL=all.css.map */
