.text-hide {
    overflow: hidden;
    text-indent: 101%;
    white-space: nowrap;
}

.nav-scroller {
    height: 2.75rem;
    overflow: hidden;
    border-bottom: 1px solid #C0A4A5;
  }
  .nav-scroller .nav {
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    justify-content: center;
    overflow-x: auto;
    white-space: nowrap;
  }
  .nav-link {
    color: #C0A4A5;
    position: relative;
    border: 1px solid #C0A4A5;
    border-radius: 15px;
    &:hover {
      opacity: 0.7;
      &::before{
        width: 100%;
      }
    }
}
  
.input-group {
    max-width: 350px;
}

.swiper {
  width: 100%;
  height: auto;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-scroller {
  height: 250px;  /* 隱藏下方捲軸 */
  overflow-y: hidden; 
  border-bottom: 0px;
}
.nav-scroller .nav {
  flex-wrap: nowrap;
  padding-bottom: 1rem; /* 隱藏下方捲軸 */
  overflow-x: auto;
  white-space: nowrap;
}
.nav-scroller-2 {
  height: 468px;  /* 隱藏下方捲軸 */
  overflow-y: hidden; 
  border-bottom: 0px;
}
.nav-scroller-2 .nav {
  flex-wrap: nowrap;
  padding-bottom: 10px; /* 隱藏下方捲軸 */
  overflow-x: auto;
}
.modal-dialog {
  max-width: 500px;
  margin: 1.75rem auto;
  @include media-breakpoint-up(md) {
    max-width: 690px;
  }
  @include media-breakpoint-up(lg) {
    max-width: 920px;
  }
}


